/* Color Theme
#D99923
#F2C36B
#812410
#8C7474
#312224
#000000
#ffffff

*/

/* ---------------Box Sizing----------------- */

html{
    box-sizing: border-box;
}
*,
*:before
*:after {
    box-sizing: inherit;
}

/*------------Responsive Images--------------*/

img{
    max-width: 100%;
    height: auto;
}

/*-------------Utility Styles---------------*/





/*----------------Global Styles--------------*/
body{
    font-family: "Merriweather";
    margin: 0;
}
header.primary{
    background-color: black;
    text-align:center;
    color: #d99923;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}