/* Color Theme
#D99923
#F2C36B
#812410
#8C7474
#312224
*/

/* ---------------Box Sizing----------------- */





/*----------------Global Styles--------------*/
body{
    font-family: "Merriweather";
}
header.primary{
    background-color: black;
    text-align:center;
    color: #d99923;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}